.buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.212);
  height: 11rem;
}

.buttons .btn {
  width: 11rem;
  height: 4rem;
  margin: 25px;
  border: none;
  border-radius: 5px;
  background-color: #61accf;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  font-weight: 600;
}

.buttons :nth-child(1):hover {
  cursor: pointer;
  color: whitesmoke;
  background-color: #7f3888;
}

.buttons :nth-child(2):hover {
  cursor: pointer;
  color: whitesmoke;
  background-color: black;
}

.buttons :nth-child(3):hover {
  cursor: pointer;
  color: whitesmoke;
  background-color: green;
}

.buttons :nth-child(4):hover {
  cursor: pointer;
  color: whitesmoke;
  background-color: yellow;
}

.buttons :nth-child(5):hover {
  cursor: pointer;
  color: whitesmoke;
  background-color: aqua;
}

.wraps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 3rem;
}

.wraps .single {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 13rem;
  height: 13rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem;
  color: whitesmoke;
  font-size: 17px;
  letter-spacing: 1px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wraps .active {
  -webkit-transform: scale(0);
          transform: scale(0);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background: #E0EAFC;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#CFDEF3), to(#E0EAFC));
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pr-1 {
  padding-right: 1rem;
}

.container {
  width: 100%;
  height: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EB5757;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#EB5757));
  background: linear-gradient(to right, #000000, #EB5757);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container .filter-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .filter-div .input-div {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 0.7px solid;
  height: 1.5rem;
  border-radius: 1rem;
  border-color: darkcyan;
  padding: 0.4rem;
}

.container .filter-div .input-div input {
  border: none;
  outline: none;
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
  padding-left: 0.4rem;
  width: 9.8rem;
  color: grey;
}

.container .img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .img-div img {
  margin-top: 0.3rem;
  width: 10rem;
  height: 100%;
}

.wraps2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
  padding-left: 8rem;
}

.wraps2 .wraps2-box {
  position: relative;
  width: 18rem;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.wraps2 .wraps2-box p {
  font-size: 17px;
  letter-spacing: 1px;
  cursor: default;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 999999;
  color: #EB5757;
  font-size: 20px;
}

.wraps2 .wraps2-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}

/* Hide every HTML inside .hover that would render outside*/
.hover {
  overflow: hidden;
}

/*Animate overlay and move it 'above'*/
.hover .overlay {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Mouse enter event */
.hover.mouseenter.top .overlay {
  -webkit-animation-name: slide--enter-top;
          animation-name: slide--enter-top;
}

.hover.mouseenter.right .overlay {
  -webkit-animation-name: slide--enter-right;
          animation-name: slide--enter-right;
}

.hover.mouseenter.bottom .overlay {
  -webkit-animation-name: slide--enter-bottom;
          animation-name: slide--enter-bottom;
}

.hover.mouseenter.left .overlay {
  -webkit-animation-name: slide--enter-left;
          animation-name: slide--enter-left;
}

/* Mouse leave event */
.hover.mouseleave.top .overlay {
  -webkit-animation-name: slide--leave-top;
          animation-name: slide--leave-top;
}

.hover.mouseleave.right .overlay {
  -webkit-animation-name: slide--leave-right;
          animation-name: slide--leave-right;
}

.hover.mouseleave.bottom .overlay {
  -webkit-animation-name: slide--leave-bottom;
          animation-name: slide--leave-bottom;
}

.hover.mouseleave.left .overlay {
  -webkit-animation-name: slide--leave-left;
          animation-name: slide--leave-left;
}

/* Sliding animations ! */
@-webkit-keyframes slide--enter-top {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes slide--enter-top {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slide--enter-right {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide--enter-right {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slide--enter-bottom {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide--enter-bottom {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slide--enter-left {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide--enter-left {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slide--leave-top {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes slide--leave-top {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes slide--leave-right {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes slide--leave-right {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes slide--leave-bottom {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@keyframes slide--leave-bottom {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes slide--leave-left {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slide--leave-left {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.container1 {
  width: 100%;
  height: 10rem;
  padding: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 11;
  background: #396afc;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2948ff), to(#396afc));
  background: linear-gradient(to right, #2948ff, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 5px 10px 10px #0000003f;
          box-shadow: 5px 10px 10px #0000003f;
}

.container1 .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container1 .select-box select {
  margin: 0.5rem 1rem;
  outline: none;
  width: 10rem;
  height: 2.5rem;
  font-size: 1.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
  border-radius: 3px;
}

.container1 .select-box select option {
  padding-bottom: 10px;
  font-size: 1.2rem;
  margin: 0px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container1 .select-box h1 {
  color: white;
  letter-spacing: 2px;
  font-size: 1.45rem;
  font-weight: 500;
}

.wrap3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  padding: 3rem 9rem;
  background: #D3CCE3;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#E9E4F0), to(#D3CCE3));
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrap3 .box {
  width: 18rem;
  height: 23rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.wrap3 .box img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap3 .box .info-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 1rem;
}

.wrap3 .box .info-text p {
  font-size: 1.35rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: italic;
  color: black;
}

#Model option {
  display: none;
}

.hover {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #396afc69;
  text-align: center;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  position: fixed;
  top: 35%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  height: 15rem;
}

.container .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
}

.container .boxs a {
  text-decoration: none;
}

.container .boxs a .box {
  width: 18rem;
  background-color: #5bd4ac;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.container .boxs a .box p {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  color: #1b1b1b;
  font-size: 20px;
  padding: 1.4rem;
  letter-spacing: 1px;
}

.container .boxs a :hover {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 20px;
}

.container .boxs a :hover p {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  letter-spacing: 2px;
}
