/* Hide every HTML inside .hover that would render outside*/
.hover {
  overflow: hidden;
}

/*Animate overlay and move it 'above'*/
.hover .overlay {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Mouse enter event */
.hover.mouseenter.top .overlay {
  -webkit-animation-name: slide--enter-top;
          animation-name: slide--enter-top;
}

.hover.mouseenter.right .overlay {
  -webkit-animation-name: slide--enter-right;
          animation-name: slide--enter-right;
}

.hover.mouseenter.bottom .overlay {
  -webkit-animation-name: slide--enter-bottom;
          animation-name: slide--enter-bottom;
}

.hover.mouseenter.left .overlay {
  -webkit-animation-name: slide--enter-left;
          animation-name: slide--enter-left;
}

/* Mouse leave event */
.hover.mouseleave.top .overlay {
  -webkit-animation-name: slide--leave-top;
          animation-name: slide--leave-top;
}

.hover.mouseleave.right .overlay {
  -webkit-animation-name: slide--leave-right;
          animation-name: slide--leave-right;
}

.hover.mouseleave.bottom .overlay {
  -webkit-animation-name: slide--leave-bottom;
          animation-name: slide--leave-bottom;
}

.hover.mouseleave.left .overlay {
  -webkit-animation-name: slide--leave-left;
          animation-name: slide--leave-left;
}

/* Sliding animations ! */
@-webkit-keyframes slide--enter-top {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes slide--enter-top {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slide--enter-right {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide--enter-right {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slide--enter-bottom {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide--enter-bottom {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slide--enter-left {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide--enter-left {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slide--leave-top {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes slide--leave-top {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes slide--leave-right {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes slide--leave-right {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes slide--leave-bottom {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@keyframes slide--leave-bottom {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes slide--leave-left {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slide--leave-left {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.container1 {
  width: 100%;
  height: 10rem;
  padding: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 11;
  background: #396afc;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2948ff), to(#396afc));
  background: linear-gradient(to right, #2948ff, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 5px 10px 10px #0000003f;
          box-shadow: 5px 10px 10px #0000003f;
}

.container1 .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container1 .select-box select {
  margin: 0.5rem 1rem;
  outline: none;
  width: 10rem;
  height: 2.5rem;
  font-size: 1.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
  border-radius: 3px;
}

.container1 .select-box select option {
  padding-bottom: 10px;
  font-size: 1.2rem;
  margin: 0px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container1 .select-box h1 {
  color: white;
  letter-spacing: 2px;
  font-size: 1.45rem;
  font-weight: 500;
}

.wrap3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  padding: 3rem 9rem;
  background: #D3CCE3;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#E9E4F0), to(#D3CCE3));
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrap3 .box {
  width: 18rem;
  height: 23rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.wrap3 .box img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap3 .box .info-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 1rem;
}

.wrap3 .box .info-text p {
  font-size: 1.35rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: italic;
  color: black;
}

#Model option {
  display: none;
}

.hover {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #396afc9f;
  text-align: center;
}
