/* Hide every HTML inside .hover that would render outside*/
.hover {
    overflow: hidden;
  }
  /*Animate overlay and move it 'above'*/
  .hover .overlay {
    transform: translate3d(-100%, 0, 0);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  
  /* Mouse enter event */
  .hover.mouseenter.top .overlay {
    animation-name: slide--enter-top;
  }
  .hover.mouseenter.right .overlay {
    animation-name: slide--enter-right;
  }
  .hover.mouseenter.bottom .overlay {
    animation-name: slide--enter-bottom;
  }
  .hover.mouseenter.left .overlay {
    animation-name: slide--enter-left;
  }
  
  /* Mouse leave event */
  .hover.mouseleave.top .overlay {
    animation-name: slide--leave-top;
  }
  .hover.mouseleave.right .overlay {
    animation-name: slide--leave-right;
  }
  .hover.mouseleave.bottom .overlay {
    animation-name: slide--leave-bottom;
  }
  .hover.mouseleave.left .overlay {
    animation-name: slide--leave-left;
  }
  
  /* Sliding animations ! */
  @keyframes slide--enter-top {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: none; }
  }
  @keyframes slide--enter-right {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: none; }
  }
  @keyframes slide--enter-bottom {
    0% { transform: translate3d(0, 100%, 0); }
    100% { transform: none; }
  }
  @keyframes slide--enter-left {
    0% { transform: translate3d(-100%, 0, 0); }
    100% { transform: none; }
  }
  @keyframes slide--leave-top {
    0% { transform: none; }
    100% { transform: translate3d(0, -100%, 0); }
  }
  @keyframes slide--leave-right {
    0% { transform: none; }
    100% { transform: translate3d(100%, 0, 0); }
  }
  @keyframes slide--leave-bottom {
    0% { transform: none; }
    100% { transform: translate3d(0, 100%, 0); }
  }
  @keyframes slide--leave-left {
    0% { transform: none; }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  
  



.container1{
    width: 100%;
    height: 10rem;
    padding: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 11;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 5px 10px 10px #0000003f;
    .select-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        select{
            margin: 0.5rem 1rem;
            outline: none;
            width: 10rem;
            height: 2.5rem;
            font-size: 1.3rem;
            box-sizing: border-box;
            padding-left: 1rem;
            border-radius: 3px;
            option{
                padding-bottom: 10px;
                font-size: 1.2rem;
                margin: 0px 5px;
                transition: 0.5s;
                
            }
        }
        h1{
            color: white;
            letter-spacing: 2px;
            font-size: 1.45rem;
            font-weight: 500;
        }
    }
}

.wrap3{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 3rem 9rem;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .box{
        width: 18rem;
        height: 23rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin: 1rem 0rem;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
        cursor: pointer;
        img{
            width:100%;
            height: 50%;
            object-fit: cover;
        }
        .info-text{
            box-sizing: border-box;
            padding: 1rem 1rem;
            p{
                font-size: 1.35rem;
                margin-bottom: 10px;
                letter-spacing: 1px;
                font-weight: 600;
                font-style: italic;
                color: rgb(0, 0, 0);
            }
        }
    }
}

#Model{
    option{
        display: none;
    }
}

.hover {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  
  .content {
    flex: 1;
    text-align: center;
  }
  
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #396afc9f;
    text-align: center;
  }