<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/extend.css">
    <title>Easy Filter</title>
</head>

<body>
    <div class="buttons">
        <button type="button" class="btn" data-filter="all">All</button>
        <button type="button" class="btn" data-filter="black">Black</button>
        <button type="button" class="btn" data-filter="green">Green</button>
        <button type="button" class="btn" data-filter="yellow">Yellow</button>
        <button type="button" class="btn" data-filter="aqua">Aqua</button>
    </div>

    <div class="wraps">
        <div class="single" data-filter="green" style="background-color:green ;">Green</div>
        <div class="single" data-filter="black" style="background-color:black ;">Black</div>
        <div class="single" data-filter="yellow" style="background-color:yellow ;">Yellow</div>
        <div class="single" data-filter="aqua" style="background-color:aqua ;">Aqua</div>
        <div class="single" data-filter="black" style="background-color: black;">Black</div>
        <div class="single" data-filter="yellow" style="background-color: yellow;">Yellow</div>
        <div class="single" data-filter="green" style="background-color: green;">Green</div>
        <div class="single" data-filter="aqua" style="background-color:aqua ;">Aqua</div>
        <div class="single" data-filter="yellow" style="background-color:yellow ;">Yellow</div>
        <div class="single" data-filter="black" style="background-color: black;">Black</div>
        <div class="single" data-filter="green" style="background-color:green ;">Green</div>
        <div class="single" data-filter="aqua" style="background-color:aqua ;">Aqua</div>
        <div class="single" data-filter="black" style="background-color:black ;">Black</div>
        <div class="single" data-filter="yellow" style="background-color:yellow ;">Yellow</div>
        <div class="single" data-filter="aqua" style="background-color:aqua ;">Aqua</div>
        <div class="single" data-filter="black" style="background-color: black;">Black</div>
        <div class="single" data-filter="yellow" style="background-color: yellow;">Yellow</div>
        <div class="single" data-filter="green" style="background-color: green;">Green</div>
        <div class="single" data-filter="aqua" style="background-color:aqua ;">Aqua</div>
        <div class="single" data-filter="yellow" style="background-color:yellow ;">Yellow</div>
        <div class="single" data-filter="black" style="background-color: black;">Black</div>
    </div>
    <script src="../Javascript/easy.js"></script>
</body>

</html>