<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/extend.css">
</head>

<body>
    <header>
        <div class="container1">
            <div class="select-box">
                <h1>Car Brand -</h1>
                <select name="Brand" id="Brand">
                    <option value="bmw">BMW</option>
                    <option value="Mercedes">Mercedes</option>
                    <option value="Tesla">Tesla</option>
                </select>
                <h1>Car Model -</h1>
                <select name="Model" id="Model">
                    <option id="bmw" value="m3">M3</option>
                    <option id="bmw" value="m4">M4</option>
                    <option id="bmw" value="m5">M5</option>

                    <option id="Mercedes" value="cls">CLS</option>
                    <option id="Mercedes" value="A">A Class</option>
                    <option id="Mercedes" value="GLA">GLA</option>

                    <option value="tx" id="Tesla">Model X</option>
                    <option value="ts" id="Tesla">Model S</option>
                    <option value="t3" id="Tesla">Model 3</option>
                </select>
                <h1>Car Year -</h1>
                <select name="year" id="Year">
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                </select>
                <button type="submit" class="reset"
                    style=" padding: 5px 15px; font-size: 1.05rem; font-weight: 600; border: none; border-radius: 5px; cursor: pointer;">All
                    Reset</button>
            </div>
        </div>
    </header>
    <div class="wrap3">

        <!-- BMW -->

        <!-- m3 -->

        <div class="hover" data-brand="bmw" data-model="m3" data-year="2015">
            <div class="box">
                <img src="../img/m32015-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 25628$</p>
                    <p>Brand : bmw </p>
                    <p>Model : M3 </p>
                    <p>Year : 2015</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m3" data-year="2015">
            <div class="box">
                <img src="../img/m32015-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 27600$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M3 </p>
                    <p>Year : 2015</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m3" data-year="2016">
            <div class="box">
                <img src="../img/m32016-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 30200$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M3 </p>
                    <p>Year : 2016</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m3" data-year="2016">
            <div class="box">
                <img src="../img/m32016-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 35000$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M3 </p>
                    <p>Year : 2016</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m3" data-year="2014">
            <div class="box">
                <img src="../img/m32014-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 20400$</p>

                    <p>Brand : bmw </p>
                    <p>Model : M3 </p>
                    <p>Year : 2014</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m3" data-year="2014">
            <div class="box">
                <img src="../img/m32014-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 22800$</p>

                    <p>Brand : Bmw </p>
                    <p>Model : M3 </p>
                    <p>Year : 2014</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>

        <!-- m4 -->
        <div class="hover" data-brand="bmw" data-model="m4" data-year="2015">
            <div class="box">
                <img src="../img/m42015-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 27680$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M4 </p>
                    <p>Year : 2015</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m4" data-year="2015">
            <div class="box">
                <img src="../img/m42015-2.jpeg" alt="">
                <div class="info-text">
                    <p>Price : 29560$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M4 </p>
                    <p>Year : 2015</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m4" data-year="2016">
            <div class="box">
                <img src="../img/m42016-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 34200$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M4 </p>
                    <p>Year : 2016</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m4" data-year="2016">
            <div class="box">
                <img src="../img/m42016-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 39000$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M4 </p>
                    <p>Year : 2016</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m4" data-year="2014">
            <div class="box">
                <img src="../img/m42014-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 17400$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M4 </p>
                    <p>Year : 2014</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m4" data-year="2014">
            <div class="box">
                <img src="../img/m42014-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 20800$</p>

                    <p>Brand : Bmw </p>
                    <p>Model : M4 </p>
                    <p>Year : 2014</p>

                </div>
            </div>

            <div class="overlay"></div>
        </div>

        <!-- m5 -->
        <div class="hover" data-brand="bmw" data-model="m5" data-year="2015">
            <div class="box">
                <img src="../img/m52015-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 30680$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M5 </p>
                    <p>Year : 2015</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m5" data-year="2015">
            <div class="box">
                <img src="../img/m52015-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 34800$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M5 </p>
                    <p>Year : 2015</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m5" data-year="2016">
            <div class="box">
                <img src="../img/m52016-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 36200$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M5 </p>
                    <p>Year : 2016</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m5" data-year="2016">
            <div class="box">
                <img src="../img/m52016-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 37000$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M5 </p>
                    <p>Year : 2016</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m5" data-year="2014">
            <div class="box">
                <img src="../img/m52014-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 20400$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M5 </p>
                    <p>Year : 2014</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="bmw" data-model="m5" data-year="2014">
            <div class="box">
                <img src="../img/m52014-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 21800$</p>
                    <p>Brand : Bmw </p>
                    <p>Model : M5 </p>
                    <p>Year : 2014</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>




        <!-- Mercedes -->

        <!-- cls -->
        <div class="hover" data-brand="Mercedes" data-model="cls" data-year="2014">
            <div class="box">
                <img src="../img/cls2014-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 40600$</p>
                    <p>Brand : Mercedes</p>
                    <p>Model : CLS </p>
                    <p>Year : 2014</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="cls" data-year="2014">
            <div class="box">
                <img src="../img/cls2014-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 35700$</p>
                    <p>Brand : Mercedes </p>
                    <p>Model : CLS </p>
                    <p>Year : 2014</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="cls" data-year="2015">
            <div class="box">
                <img src="../img/cls2015-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 42600$</p>
                    <p>Brand : Mercedes </p>
                    <p>Model : CLS </p>
                    <p>Year : 2015</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="cls" data-year="2015">
            <div class="box">
                <img src="../img/cls2015-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 37800$</p>

                    <p>Brand : Mercedes </p>
                    <p>Model : CLS </p>
                    <p>Year : 2015</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="cls" data-year="2016">
            <div class="box">
                <img src="../img/cls2016-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 42600$</p>
                    <p>Brand : Mercedes </p>
                    <p>Model : CLS </p>
                    <p>Year : 2016</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="cls" data-year="2016">
            <div class="box">
                <img src="../img/cls2016-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 47000$</p>
                    <p>Brand : Mercedes </p>
                    <p>Model : CLS </p>
                    <p>Year : 2016</p>
                </div>
            </div>

            <div class="overlay"></div>
        </div>


        <!-- a -->
        <div class="hover" data-brand="Mercedes" data-model="A" data-year="2014">
            <div class="box">
                <img src="../img/a2014-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 15600$</p>
                    <p>Brand : Mercedes</p>
                    <p>Model : A </p>
                    <p>Year : 2014</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="A" data-year="2014">
            <div class="box">
                <img src="../img/2014-2.jpg.opdownload" alt="">
                <div class="info-text">
                    <p>Price : 17700$</p>
                    <p>Brand : Mercedes </p>
                    <p>Model : A </p>
                    <p>Year : 2014</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="A" data-year="2015">
            <div class="box">
                <img src="../img/a2015-1.jpg.opdownload" alt="">
                <div class="info-text">
                    <p>Price : 18600$</p>
                    <p>Brand : Mercedes </p>
                    <p>Model : A </p>
                    <p>Year : 2015</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="A" data-year="2015">
            <div class="box">
                <img src="../img/a2015-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 18800$</p>
                    <p>Brand : Mercedes </p>
                    <p>Model : A </p>
                    <p>Year : 2015</p>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="A" data-year="2016">
            <div class="box">
                <img src="../img/a2016-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 19600$</p>

                    <p>Brand : Mercedes </p>
                    <p>Model : A </p>
                    <p>Year : 2016</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="A" data-year="2016">
            <div class="box">
                <img src="../img/a2016-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 20000$</p>

                    <p>Brand : Mercedes </p>
                    <p>Model : A </p>
                    <p>Year : 2016</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>

        <!-- GLA -->
        <div class="hover" data-brand="Mercedes" data-model="GLA" data-year="2014">
            <div class="box">
                <img src="../img/gla2014-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 30600$</p>

                    <p>Brand : Mercedes</p>
                    <p>Model : GLA </p>
                    <p>Year : 2014</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="GLA" data-year="2014">
            <div class="box">
                <img src="../img/gla2014-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 33700$</p>

                    <p>Brand : Mercedes </p>
                    <p>Model : GLA </p>
                    <p>Year : 2014</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="GLA" data-year="2015">
            <div class="box">
                <img src="../img/gla2015-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 35600$</p>

                    <p>Brand : Mercedes </p>
                    <p>Model : GLA </p>
                    <p>Year : 2015</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="GLA" data-year="2015">
            <div class="box">
                <img src="../img/gla2015-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 37800$</p>

                    <p>Brand : Mercedes </p>
                    <p>Model : GLA </p>
                    <p>Year : 2015</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="GLA" data-year="2016">
            <div class="box">
                <img src="../img/gla2016-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 39600$</p>

                    <p>Brand : Mercedes </p>
                    <p>Model : GLA </p>
                    <p>Year : 2016</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Mercedes" data-model="GLA" data-year="2016">
            <div class="box">
                <img src="../img/gla2016-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 41000$</p>

                    <p>Brand : Mercedes </p>
                    <p>Model : GLA </p>
                    <p>Year : 2016</p>

                </div>
            </div>

            <div class="overlay"></div>
        </div>

        <!-- Tesla -->

        <!-- MODEL S -->
        <div class="hover" data-brand="Tesla" data-model="ts" data-year="2015">
            <div class="box">
                <img src="../img/teslas2015-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 50600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model S </p>
                    <p>Year : 2015</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="ts" data-year="2015">
            <div class="box">
                <img src="../img/teslas2015-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 57600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model S </p>
                    <p>Year : 2015</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="ts" data-year="2016">
            <div class="box">
                <img src="../img/teslas2016-1.jpeg" alt="">
                <div class="info-text">
                    <p>Price : 80600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model S </p>
                    <p>Year : 2016</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="ts" data-year="2016">
            <div class="box">
                <img src="../img/teslas2016-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 60600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model S </p>
                    <p>Year : 2016</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="ts" data-year="2014">
            <div class="box">
                <img src="../img/teslas2014-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 49600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model S </p>
                    <p>Year : 2014</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="ts" data-year="2014">
            <div class="box">
                <img src="../img/teslas2014-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 51700$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model S </p>
                    <p>Year : 2014</p>

                </div>
            </div>

            <div class="overlay"></div>
        </div>

        <!-- MODEL X -->
        <div class="hover" data-brand="Tesla" data-model="tx" data-year="2015">
            <div class="box">
                <img src="../img/x2015-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 55600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model X </p>
                    <p>Year : 2015</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="tx" data-year="2015">
            <div class="box">
                <img src="../img/x2015-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 59600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model X </p>
                    <p>Year : 2015</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="tx" data-year="2016">
            <div class="box">
                <img src="../img/x2016-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 62600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model X </p>
                    <p>Year : 2016</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="tx" data-year="2016">
            <div class="box">
                <img src="../img/x2016-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 65600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model X </p>
                    <p>Year : 2016</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="tx" data-year="2014">
            <div class="box">
                <img src="../img/x2014-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 47600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model X </p>
                    <p>Year : 2014</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="tx" data-year="2014">
            <div class="box">
                <img src="../img/x2014-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 48700$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model X </p>
                    <p>Year : 2014</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>

        <!-- MODEL 3 -->
        <div class="hover" data-brand="Tesla" data-model="t3" data-year="2015">
            <div class="box">
                <img src="../img/model32015-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 57600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model 3 </p>
                    <p>Year : 2015</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="t3" data-year="2015">
            <div class="box">
                <img src="../img/model32015-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 60600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model 3 </p>
                    <p>Year : 2015</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="t3" data-year="2016">
            <div class="box">
                <img src="../img/model32016-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 64600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model 3 </p>
                    <p>Year : 2016</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="t3" data-year="2016">
            <div class="box">
                <img src="../img/model32016-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 65600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model 3 </p>
                    <p>Year : 2016</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="t3" data-year="2014">
            <div class="box">
                <img src="../img/model32014-1.jpg" alt="">
                <div class="info-text">
                    <p>Price : 55600$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model 3 </p>
                    <p>Year : 2014</p>

                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="hover" data-brand="Tesla" data-model="t3" data-year="2014">
            <div class="box">
                <img src="../img/model32014-2.jpg" alt="">
                <div class="info-text">
                    <p>Price : 50700$</p>

                    <p>Brand : Tesla </p>
                    <p>Model : Model 3 </p>
                    <p>Year : 2014</p>

                </div>
            </div>

            <div class="overlay"></div>
        </div>

    </div>
    <script src="../vendor/jquery-3.6.0.min.js"></script>
    <script src="../Javascript/hard.js"></script>
</body>

</html>